.overlayEditEvents{
  position: fixed;
  top: 40%;
  left: 50%;
  width: 30%;
  max-height: 70vh;
  padding: 20px 10px;
  background-color: #D9D9D9;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-Radius:8px;
  overflow-y: scroll;
}
.popupEditEvent{
display: flex;
flex-direction:column;
}
.popupEditEvent button{
    text-align: center;
    margin-top: 20px;
    width: 100px;
    height: 50px;
    border: 0.5px solid black;
    border-radius: 50px;
    font-size: 0.8em;
    background-color: #6D94C5;
    color: #F5EFE6;
}