.gridForEventManager{
    display: grid;
    grid-template-columns: 55% auto;
    margin: auto;
    margin-top: 0.5%;
}
.eventManager {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#D9D9D9;
}
.createEventForm{
    display: flex;
    flex-direction:column;
    width: 50%;
}