.gridForEventManager{
    display: grid;
    grid-template-columns: 55% auto;
    margin: auto;
    margin-top: 0.5%;
}
.eventManager {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#D9D9D9;
}
.createEventForm{
    display: flex;
    flex-direction:column;
    width: 80%;
}
.createEventForm h1, .popupEditEvent h1{
    font-size: 2;
    color: #6D94C5;
}
.createEventForm label, .popupEditEvent label{
    margin-top: 15px;
    font-size: 1.2vw;
    color: #6D94C5;
}
.createEventForm input, .popupEditEvent input{
    background-color: #E8DFCA;
    border: none;
    color: #6D94C5;
    height: 5dvh;
    font-size: 1.1em;
    padding: 5px 10px;
}
.createEventForm input[type="date"]::-webkit-datetime-edit, .popupEditEvent input[type="date"]::-webkit-datetime-edit {
    color: #6D94C5;
}
.createEventForm input[type="time"]::-webkit-datetime-edit, .popupEditEvent input[type="time"]::-webkit-datetime-edit{
    color: #6D94C5;
}
.createEventForm select, .popupEditEvent select{
    background-color: #E8DFCA;
    border: none;
    color: #6D94C5;
    height: 5dvh;
    font-size: 1.1em;
    padding: 5px 10px;
}
.createEventForm textarea, .popupEditEvent textarea{
    background-color: #E8DFCA;
    border: none;
    color: #6D94C5;
    font-size: 1.1em;
    padding: 10px;
    font-family: inherit;
    resize: vertical;
}
.createEventForm button{
    margin-top: 40px;
    width: var(--btn-width);
    height: var(--btn-height);
    border: 0.5px solid black;
    border-radius: 60px;
    font-size: 1em;
    background-color: #6D94C5;
    color: #F5EFE6;
}

.createEventForm button:hover, .popupEditEvent button:hover, .fakeButton:hover{
    background-color: #0C3363;
    cursor: pointer;
}
.planedEventsBox{
    margin-left: 2%;
}
.planedEventsBox h1{
    font-size: 2;
    color: #6D94C5;
}

.eventBoxGrid{
    color: #6D94C5;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 90% auto;
    background-color: #E8DFCA;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    font-size: 1.2em;
}
