.loginContainer {
    display: grid;
    grid-template-columns: 55% auto;
    margin: auto;
    margin-top: 2%;
    width: 70%;
    height: 80%;
    justify-content: center;
    background-color: #6D94C5;
}

.siteName {
    display: grid;
    grid-template-rows: auto 85%;
    justify-content: center;
    padding: 50px;
    color:#CBDCEB;
}

.siteName img {
    height: 40vh;
    width: 40vh;
    object-fit: contain;
    place-self: center;

}
.siteName h1{
    width: 100%;
    font-size: 7vh;
    text-align: center;
}

.login {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#F5EFE6;
}

.loginFormWrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* background-color: #5f577a; */
}

.loginForm {
    color: #dce6f4;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    gap: 1.25em;
    padding: 50px;
    border: none;
    width: 100%;
    height: 100%;
}

.loginForm label {
    font-size:1.75em;
}

.loginForm input {
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
}

.loginForm button {
    width: 100px;
    height: 35px;
    border: 0.5px solid black;
    border-radius: 10px;
    font-size: 1em;
    background-color: #E8DFCA;
    color: #6D94C5;
}

.loginForm button:hover {
    background-color: #0C3363;
    cursor: pointer;
}


