.loginContainer {
    display: grid;
    grid-template-columns: 55% auto;
    margin: auto;
    margin-top: 2%;
    width: 70%;
    height: 80%;
    justify-content: center;
    background-color: #6D94C5;
}

.siteName {
    display: grid;
    grid-template-rows: auto 85%;
    justify-content: center;
    padding: 50px;
    color:#CBDCEB;
}

.siteName img {
    height: 40vh;
    width: 40vh;
    object-fit: contain;
    place-self: center;

}
.siteName h1{
    width: 100%;
    font-size: 7vh;
    text-align: center;
}

.login {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#D9D9D9;
}

.loginFormWrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* background-color: #5f577a; */
}

.loginForm {
    color: #dce6f4;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    gap: 1.25em;
    padding: 50px;
    border: none;
    width: 100%;
    height: 100%;
}

.loginForm label {
    font-size:1.75em;
}

.loginForm input {
    width: 27vw;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
}

.loginForm button {
    width: 100px;
    height: 35px;
    border: 0.5px solid black;
    border-radius: 10px;
    font-size: 1em;
    background-color: #E8DFCA;
    color: #6D94C5;
}

.loginForm button:hover {
    background-color: #0C3363;
    cursor: pointer;
}

.loginForm button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.toggle-mode-btn {
    background-color: transparent !important;
    color: #CBDCEB !important;
    border: none !important;
    text-decoration: underline;
    font-size: 0.9em !important;
    width: auto !important;
    height: auto !important;
    padding: 5px 10px !important;
}

.toggle-mode-btn:hover {
    background-color: transparent !important;
    color: #E8DFCA !important;
}

.login-message {
    width: 27vw;
    max-width: 420px;
    max-height: fit-content;
    box-sizing: border-box;
    padding: 8px 12px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.95em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.login-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}


