.NavbarBox{
    left: 0;
    top: 0;
    width: 100%;
    height: 8%;
    background-color: #6D94C5;
}
.navBarTitle{
    padding-left: 10px;
    padding-top: 5px;
    color:#CBDCEB;
    font-size: 40px;
}