.NavbarBox{
    display: grid;
    align-items: center;
    grid-template-columns: 5fr 1fr;
    left: 0;
    top: 0;
    width: 100%;
    height: 8%;
    background-color: #6D94C5;
}
.navBarTitle{
    padding-left: 10px;
    padding-top: 5px;
    color:#CBDCEB;
    font-size: 4vh;
    text-decoration: none;
}
.navBarFlexBox{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0px;
}

.navBarLink button {
    height: var(--btn-height);
    min-width: var(--btn-width);
    margin-right: 10px;
    padding: 0 16px;
    border: 0.5px solid black;
    border-radius: 10px;
    font-size: 1em;
    background-color: #E8DFCA;
    color: #6D94C5;
}

.navBarLink button:hover {
    background-color: #0C3363;
    cursor: pointer;
}
